.skills {
  font-family: var(--project-font-family);
}
.skills_background {
  height: 600px;
  width: 100%;
  background-image: url(../../images/skill-background.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  opacity: 0.4;
}

.skills_mask {
  background: rgba(0, 0, 0, 0.2);
  z-index: 400;
  width: 100%;
  height: 600px;
}
.skills_profile {
  padding: 60px 0px 0px 40px;
  display: flex;
  flex-direction: row;
}
.skills_profile_heading {
  z-index: 600;
  font-size: 48px;
  color: black;
  padding-left: 20px;
}
.skills_profile_logo {
  background-image: url("../../images/skills_logo.png");
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.skills_names {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  z-index: 800;
}
.skills_names_part1 {
  display: flex;
  flex-direction: row;
}
.skills_names_part2 {
  display: flex;
  flex-direction: row;
}
.skills_keywords {
  width: 100px;
  height: 100px;
  margin: 40px 0px 0px 40px;
  border-radius: 50%;
  background-color: whitesmoke;
  text-align: center;
  align-content: justify;
  align-items: center;
  font-size: 18px;
  border: 3px solid black;
  box-shadow: 10px 10px 5px grey;
}

.skills_keywords--text {
  padding-top: 30px;
}
