.home {
  padding: var(--section-padding);
  font-family: var(--project-font-family);
}
.home_part1 {
  display: flex;
  flex-direction: row;
}
.home_part2 {
  display: flex;
  flex-direction: row;
  padding-top: 60px;
}
.profile--logo {
  background-image: url("../../images/logo.png");
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.profile--heading1 {
  color: var(--primary-color);
  font-size: 48px;
}
.profile--heading2 {
  color: #d4d4d4;
  font-size: 18px;
}
.home_part1--profile {
  line-height: 0.2em;
  height: 148px;
  padding-right: 60px;
}
.home_part1--summary {
  padding-left: 60px;
  font-size: 18px;
  line-height: 1.5em;
  height: 148px;
  color: var(--secondary-color);
}
.part1_partitionLine {
  border-left: 1px ridge var(--secondary-color);
  height: 148px;
}
.info--heading {
  color: var(--primary-color);
  font-size: 20px;
  margin-top: 0px;
}
.info--content {
  line-height: 0.4em;
  font-size: 18px;
  color: var(--secondary-color);
}
.content--special {
  color: var(--primary-color);
}
.picture--myPic {
  width: 370px;
  height: 230px;
  background-color: #f0e5df;
  background-image: url("../../images/profile.jpeg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.download_button {
  width: 370px;
  height: 50px;
  background-color: var(--primary-color);
  font-size: 14px;
}
.download_button--text {
  color: white;
}
.home_part2--picture {
  padding-right: 60px;
}

/* for screen-size: 768px */

@media only screen and (max-width: 768px) {
  .home {
    padding: 100px 10px 50px 10px;
  }
}
@media only screen and (max-width: 768px) {
  .home_part2--picture {
    padding-right: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .home_part1--profile {
    padding-right: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .home_part1--summary {
    padding-left: 30px;
  }
}

/* for screen-size: 480px */

@media only screen and (max-width: 480px) {
  div.home_part1 {
    flex-direction: column;
  }
}
@media only screen and (max-width: 480px) {
  div.home_part2 {
    flex-direction: column;
  }
}
@media only screen and (max-width: 480px) {
  .part1_partitionLine {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .home_part1--summary {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 480px) {
  .home_part2--info {
    padding-top: 50px;
  }
}

/* for screen-size: 320px */

@media only screen and (max-width: 320px) {
  .home {
    padding: 100px 0px 50px 0px;
  }
}
@media only screen and (max-width: 320px) {
  .picture--myPic {
    width: 310px;
  }
}
@media only screen and (max-width: 320px) {
  .download_button {
    width: 310px;
  }
}
@media only screen and (max-width: 320px) {
  .home_part2 {
    padding-top: 50px;
  }
}
@media only screen and (max-width: 320px) {
  .info--content {
    font-size: 16px;
  }
}
@media only screen and (max-width: 320px) {
  .home_part1--summary {
    font-size: 16px;
  }
}
@media only screen and (max-width: 320px) {
  .home_part2--info {
    padding-top: 40px;
  }
}
