.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 600ms ease-in-out;
  padding-top: 10px;
}
.nav-bar-active {
  opacity: 1;
}
.nav-bar:hover {
  cursor: pointer;
}
.nav-bar_button {
  color: var(--primary-color);
  background-color: var(--button-color);
  font-size: 20px;
  border-radius: 100px;
  font-weight: 400;
  outline: none;
  box-shadow: var(--shadow-style);
  padding: 8px;
  min-width: 80px;
  text-align: center;
  align-items: center;
  align-content: center;
}
@media only screen and (max-width: 500px) {
  .nav-bar_button {
    min-width: 70px;
    font-size: 15px;
  }
} 
  @media only screen and (max-width: 430px) {
  .nav-bar_button {
    min-width: 60px;
    font-size: 15px;
  }
}
@media only screen and (max-width: 380px) {
  .nav-bar_button {
    min-width: 40px;
    font-size: 14px;
  }
} 

