.image {
  width: 100%;
  height: 100%;
  background-image: url("../../images/shilpi2.jpg");
  position: absolute;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
/* @media only screen and (max-width: 550px) {
  .image {
    background-image: url("../../images/crop.jpg");
    background-position: center;
    background-size: cover;
    overflow: hidden;
  }
} */
.text {
  z-index: 500;
  color: white;
  position: absolute;
  padding: 40px;
}
.mask {
  background: rgba(0, 0, 0, 0.2);
  z-index: 200;
  position: absolute;
  width: 100%;
  height: 100%;
}
.name {
  font-family: ltc-bodoni-175;
  font-weight: 400;
  font-style: normal;
  font-size: 42px;
  text-transform: capitalize;
  margin-bottom: 0px;
}
.work {
  font-family: ltc-bodoni-175;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  text-transform: capitalize;
  margin-top: 0px;
}
.intro {
  width: 100%;
  height: 700px;
  position: relative;
}
