:root {
  --primary-color: #ff7632;
  --secondary-color: #999999;
  --project-font-family: sans-serif;
  --section-padding: 100px 50px 50px 50px;
}
.contact {
  height: 700px;
  padding-top: 40px;
}
.skills {
  height: 700px;
  padding-top: 40px;
}
.education {
  height: 700px;
  padding-top: 40px;
}
.resume-download {
  height: 700px;
  padding-top: 40px;
}
.container {
  display: flex;
  flex-direction: column;
}
