.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
}
.contact {
  height: 700px;
  padding-top: 40px;
}
.skills {
  height: 700px;
  padding-top: 40px;
}
.education {
  height: 700px;
  padding-top: 40px;
}
.home {
  height: 700px;
  padding-top: 40px;
}
.resume-download {
  height: 700px;
  padding-top: 40px;
}
.container {
  display: flex;
  flex-direction: column;
}
