:root {
  --primary-color: #ff7632;
  --primary-color--hover: #e2540d;
  --secondary-color: #999999;
  --sub-heading-color: #d4d4d4;
  --pic-background-color: #f0e5df;
  --button-color: white;
  --section-background-color: #f1f0f0;
  --project-font-family: sans-serif;
  --darkmode-color: black;
  --section-padding: 100px 20px 0px 50px;
}
