:root {
  --primary-color: #ff7632;
  --primary-color--hover: #e2540d;
  --secondary-color: #999999;
  --sub-heading-color: #d4d4d4;
  --pic-background-color: #f0e5df;
  --button-color: white;
  --project-font-family: sans-serif;
  --section-padding: 100px 20px 50px 50px;
}
